.square {
  border: 1px solid #999;
  float: left;
  font-weight: bold;
  line-height: 12px;
  height: 12px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 12px;
}
.square-white {
  background: #fff;
}

.square-black {
  background: #000;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

#container {
  /*text-align: center;*/
  position: relative;
}
#container:after {
  content: '';
  position: absolute;
  height: 200%;
  width: 1px;
}
#container > .first {
  float: left;
  /* width: 100px;*/
  background: #bada55;
}
#container > .second {
padding-left: 10px;  
  display: inline-block;
}

.button {
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button1:hover {
  background-color: #555555;
  color: white;
}